*.zwc
perl-modules.list
screen/screen/
vim/bundle/
vim/dein/
vim/cache/
vim/plugged/
vim/undo/
vim/.netrwhist
vim/recent.txt
zsh/zshenv_coreutils_alias
zsh/cdd_pwd_list
zsh/cdd_pwd_list.t
zsh/local/
zsh/zshrc.*.local
.DS_Store
