[submodule "zsh/antigen.git"]
	path = zsh/antigen.git
	url = https://github.com/zsh-users/antigen.git
[submodule "markdown2impress"]
	path = markdown2impress
	url = https://github.com/yoshiki/markdown2impress
[submodule "zsh/zsh-perl-completions.git"]
	path = zsh/zsh-perl-completions.git
	url = https://github.com/syohex/zsh-perl-completions
[submodule "zsh/git-tasukete.git"]
	path = zsh/git-tasukete.git
	url = https://github.com/rosylilly/git-tasukete.git
[submodule "Anyone/kazeburo-mysetup"]
	path = Anyone/kazeburo-mysetup
	url = https://github.com/kazeburo/mysetup.git
[submodule "zsh/dircolors-solarized.git"]
	path = zsh/dircolors-solarized.git
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "Anyone/kamipo-etcfiles"]
	path = Anyone/kamipo-etcfiles
	url = https://github.com/kamipo/etcfiles.git
